.mapa{
    border: 1xp solid black;
    height: 100%;
}
.box-map{
    height: 100%;
    border: 1px solid black;
    margin-top: 16px;
}
.popup-mapa{
    display: flex;
    flex-wrap: wrap;
}
.popup-mapa img{
    width: 100px;
}