* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
  background: rgb(2, 0, 36);
  color: white;
  margin: 0 auto;
}

header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.473);
  box-shadow: -2px 2px 4px white;

}

main {
  min-height: calc(100vh - 204px);
  padding: 12px 12px;
  max-width: 1344px;
  margin: 0 auto;
  margin-top: 24px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}
.menu-text{
  margin-top: 48px;
}
h1 {
  text-align: center;
}

p {
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 4px;
}

.container {
  position: relative;

}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.content {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 2fr;
  padding: 8px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.473);

}

footer p {
  text-align: end;
  color: white;
}

@media(min-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    height: 70vh;
  }
}